<section>
  <h2>Heroes List</h2>
  <div class="table">
    <app-heroes-table-filter
      class="filter"
      [initialFilterValue]="initialFilterValue()"
      (filterValue)="filterBySubstring($event)"
      (resetFilterValue)="resetFilter()"
    />
    @if (pagedHeroes().length > 0) {
      <app-heroes-table [heroes]="pagedHeroes()" />
    } @else {
      <div class="no-results">
        <mat-icon>warning</mat-icon>
        <h3>No heroes found.</h3>
      </div>
    }
    @if (showPagination()) {
      <app-heroes-table-pagination
        class="paginator"
        [totalPages]="totalPages()"
        [itemsPerPage]="itemsPerPage()"
        (pageChange)="onPageChange($event)"
      />
    }
  </div>
  <button matButton="filled" (click)="createHero()">Create new Hero</button>
</section>
