section {
  margin: 10px 0;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 4fr 30px 1fr;
  grid-gap: 30px;
  .paginator {
    align-self: end;
    justify-self: end;
  }
  button {
    margin: 10px 0;
  }
}
