section {
  margin: 10px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  h2 {
    width: 100%;
    height: 100%;
  }

  .table {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 700px;
    max-height: 700px;

    .filter {
      align-self: start;
      justify-self: end;
    }

    .paginator {
      align-self: end;
      justify-self: end;
    }
  }

  button {
    margin: 10px 0;
  }
}
