section {
  margin: 10px 0;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 4fr auto auto;
  grid-gap: 10px;
  h2 {
    width: 100%;
    height: 100%;
  }
  .paginator {
    align-self: end;
    justify-self: end;
  }
  .filter {
    align-self: end;
    justify-self: end;
  }
  button {
    margin: 10px 0;
  }
}
