<section>
  <table mat-table [dataSource]="tableData">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let hero">{{ hero.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let hero">{{ hero.name }}</td>
    </ng-container>

    <ng-container matColumnDef="franchise">
      <th mat-header-cell *matHeaderCellDef>Franchise</th>
      <td mat-cell *matCellDef="let hero">{{ hero.franchise }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let hero">{{ hero.description }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td mat-cell *matCellDef="let hero">
        <button mat-button (click)="onEdit(hero)">Edit</button>
        <button mat-button (click)="onDelete(hero)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headerRowDefinition"></tr>

    <tr mat-row *matRowDef="let row; columns: headerRowDefinition"></tr>
  </table>
</section>
