<form class="heroes-form" [formGroup]="heroesForm">
  <mat-form-field class="name">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Batman" formControlName="name" />
    <mat-error>Name is invalid</mat-error>
  </mat-form-field>

  <mat-form-field class="franchise">
    <mat-label>Franchise</mat-label>
    <mat-select formControlName="franchise">
      @for (franchise of franchises; track franchise) {
        <mat-option [value]="franchise.value">{{ franchise.value }}</mat-option>
      }
    </mat-select>
    <mat-error>Please enter a valid franchise</mat-error>
  </mat-form-field>
  <mat-form-field class="description">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Surf buildings." formControlName="description" />
    <mat-error>Description is too long</mat-error>
  </mat-form-field>
</form>
